$navbarHeight : 40px;

body {

  background: #ffb347; /* fallback for old browsers */
  background: -webkit-linear-gradient(bottom right, #ffb347, #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #ffb347, #ffcc33); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

main {
  padding-top: $navbarHeight;

}

.navbar {
  background-color: transparent;
  display: none;
}

.jumbotron-gradient{
  background-color: transparent;

}

.text-stroke {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #333;
}

.thumbnail {

  transition: all 0.2s;

  &:hover {
    transform: scale(1.03);
  }
}